<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col" style="left: 480px">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Cantidad de entradas</h4>
      </div>
      <div class="card-body">
        <form>
          <p class="my-0 fw-normal" style="font-size: 130%">
            Ingrese cantidad de entradas:
          </p>
          <input
            type="text"
            id="my-0 fw-normal"
            name="my-0 fw-normal"
            value="25"
          /><br />
        </form>
        <div>
          <button type="button" class="btn btn-lg btn-primary">
            Confirmar
          </button>
          <button class="btn btn-outline-secondary btn-lg px-2">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
