<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col m-auto">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Cantidad de entradas</h4>
      </div>
      <div class="card-body">
        <form action="/detalleEntradas" method="POST">
        {% csrf_token %}
          <p class="my-0 fw-normal" style="font-size: 130%">
            Ingrese cantidad de entradas:
          </p>
          <input type="hidden" name="id" value="{{prueba}}">
          <input
            type="text"
            name="ctdadEntradas"
            value="{{form.ctdadEntradas.value}}"
            required="true"
          /><br />
          <div class="mt-2">
            <button type="submit" class="btn btn-lg btn-primary">
              Confirmar
            </button>
          </div>
        </form>
        <div></div>
      </div>
    </div>
  </div>
</div>
