<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col" style=" left: 480px;">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Detalle Cantidad de entradas</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <p class="my-0 fw-normal" style="font-size:130%;">Cantidad de entradas: "X"</p>
            <p class="my-0 fw-normal" style="font-size:130%;">Monto por entrada: "$X"</p>
            <p class="my-0 fw-normal" style="font-size:130%;">Total: "$X"</p>
          <button type="button" class=" btn btn-lg btn-primary">Confirmar</button>
          <button class="btn btn-outline-secondary btn-lg px-2">Cancelar</button>
        </div>
      </div>
    </div>
  </div>