<div class="container">
  <div class="row row-cols-md-3 mb-3 text-center">
    {%for tarifa in tarifas%}
    <div class="d-flex justify-content-between">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Tarifa {{tarifa.id}}</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">
            Monto: "{{tarifa.monto}}"
          </h3>
          <h3 class="card-title pricing-card-title">
            Monto con guia: "{{tarifa.monto}}"
          </h3>
          <p class="fs-5 text-muted" style="font-size: 130%">{{tarifa.tipoEntrada.nombre}}</p>
          <p class="fs-5 text-muted" style="font-size: 130%">{{tarifa.tipoVisita.nombre}}</p>
          <button type="button" class="w-100 btn btn-lg btn-primary">
            Seleccionar
          </button>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
