{% load bootstrap4 %}
<html lang="en">
  <head>
  <meta charset="UTF-8">
  {% bootstrap_css %}
  {% block head_content %}
{% endblock %}  
  </head>
  <body>
    
<main>
<!-- Grilla con tarifas -->
<body>
{% include "atomic/navbar.html" %}
  <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-uppercase">Registrar Venta de Entradas</h1>
      </div>
    </header>

  <!-- Primer pantalla-->
    <div class="first-screen">
     {% block first_screen %}
     {% endblock %}
    </div>
      <!-- Segunda pantalla-->
   <!-- Una vez elegida la tarifa se selecciona la cantidad de entradas -->
    <div class="second-screen">
     {% block second_screen %}
     {% endblock %}
    </div>

  <!-- Tercer pantalla-->
     <div class="third-screen">
     {% block third_screen %}
     {% endblock %}
    </div>
</main>     

  </body>
</html>